<ion-view title="Your Cart">
  <ion-nav-buttons side="right">
          <cart-items><cart-items>
        </ion-nav-buttons>
  <ion-content>
    <ion-list>
        <ion-item collection-repeat="P in Products" item-width="50%">
          <div>
            <a ui-sref="app.displayProduct" ng-click="hCtrl.selectProduct(P)">
                <img width="100%" height="250px"src="{{P.Image}}">
              </a>
                <div style="text-align: center;">
                  <strong style="color:black;">{{P.Name}}   </strong>
                  <strong style="color:black;">{{P.Price |currency}}   </strong>

                </div>
                <div style="text-align: center;">
                  <button ng-click='RemoveFromCart(P)' class="button button-dark">Remove  </button>
                </div>

          </div>
        </ion-item>
    </ion-list>
</ion-view>
